<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Device and Characteristics</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<!-- Подключение библиотеки jQuery-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<header class="p-3 mb-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-between">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Categories
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#" data-category-id="-1">All categories</a>
                                <a class="dropdown-item" href="#" data-category-id="1">TVs</a>
                                <a class="dropdown-item" href="#" data-category-id="2">Vacuum cleaners</a>
                                <a class="dropdown-item" href="#" data-category-id="3">Refrigerators</a>
                                <a class="dropdown-item" href="#" data-category-id="4">Smartphones</a>
                                <a class="dropdown-item" href="#" data-category-id="5">PC</a>

                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            <script>
            </script>

            <div class="d-flex">
                <form class="col-12 col-lg-auto me-lg-3" role="search" onsubmit="searchProducts(); return false;">
                    <input type="search" class="form-control" id="searchQuery" placeholder="Search..."
                           aria-label="Search">
                </form>


            </div>
        </div>
    </div>
</header>
<script>
    $(document).ready(function () {
     // Добавляем обработчик для кнопки удаления
        $('body').on('click', '.delete-btn', function () {
            var productId = $(this).data('product-id');
            deleteProduct(productId);
        });


        // Загружаем все продукты при открытии страницы
        filterProducts(-1, '');

        // Переменная для хранения текущей выбранной категории
        var currentCategoryId = -1;

        // Обработчик события для каждой категории
        $('.dropdown-item').click(function (event) {
            event.preventDefault();
            var categoryId = $(this).data('category-id');
            currentCategoryId = categoryId; // Сохраняем текущую категорию
            filterProducts(categoryId, '');

            // Очищаем строку поиска
            $('#searchQuery').val('');
            // Обновляем заголовок
             var categoryTitle = $(this).text();
            $('#categoryTitle').text(categoryTitle);
        });

        // Добавляем обработчик для "All categories"
        $('#allCategories').click(function (event) {
            event.preventDefault();
            currentCategoryId = -1; // Сбрасываем текущую категорию
            filterProducts(-1, '');

            // Очищаем строку поиска
            $('#searchQuery').val('');
        });

        // Обработчик ввода в поле поиска
        $('#searchQuery').on('input', function () {
            var searchQuery = $(this).val();
            filterProducts(currentCategoryId, searchQuery);
        });

        // Добавляем обработчик для кнопки поиска (если у вас есть такая кнопка)
        $('#searchButton').click(function (event) {
            event.preventDefault();
            searchProducts();
        });
    });

    function filterProducts(categoryId, searchQuery) {
    $.ajax({
        url: '/filterProductsByName',
        type: 'GET',
        data: {
            categoryId: categoryId,
            searchQuery: searchQuery
        },
        success: function (data) {
            // Очищаем текущий HTML-контент таблицы
            $('tbody').empty();


            // Перебираем полученные данные и обновляем HTML-контент таблицы
            for (var i = 0; i < data.length; i++) {
                var product = data[i];
                var row = '<tr>';
                row += '<td>';
                row += '<button class="btn btn-danger delete-btn" style="margin-right: 5px;" data-product-id="' + product.id + '">Delete</button>';
                row += '<button class="btn btn-primary edit-btn" data-toggle="modal" data-target="#editProductModal" data-product-id="' + product.id + '" data-product=\'{"id":' + product.id + ',"categoryId":' + product.categoryId + ',"manufacturerName":"' + product.manufacturerName + '","manufacturerCountry":"' + product.manufacturerCountry + '","onlineOrderAvailability":' + product.onlineOrderAvailability + ',"installmentOption":' + product.installmentOption + ',"name":"' + product.name + '"}\' >Edit</button>';
                row += '</td>';

                row += '<td>' + product.name + '</td>';
                row += '<td>' + product.manufacturerCountry + '</td>';
                row += '<td>' + product.manufacturerName + '</td>';
                row += '<td>';

                // Добавляем модели в одну ячейку
                if (product.availableModels.length > 0) {
                    row += '<ul>';
                    for (var j = 0; j < product.availableModels.length; j++) {
                        row += '<li>' + product.availableModels[j].name + '</li>';
                    }
                    row += '</ul>';
                } else {
                    row += 'No models available';
                }

                row += '</td></tr>';

                // Добавляем строку в таблицу
                $('tbody').append(row);
            }

            // Добавляем обработчик события для каждой кнопки "Edit"
            $('.edit-btn').click(function () {
                // Получаем данные продукта из атрибута data-product
                var productData = $(this).data('product');
                $('#hiddenProductId').val(productData.id);
                // Заполняем поля формы значениями из переменной productData
                $('#editCategorySelect').val(productData.categoryId);
                $('#editManufacturerName').val(productData.manufacturerName);
                $('#editManufacturerCountry').val(productData.manufacturerCountry);
                $('#editOnlineOrderAvailability').prop('checked', productData.onlineOrderAvailability);
                $('#editInstallmentOption').prop('checked', productData.installmentOption);
                $('#editDeviceName').val(productData.name);
                // Открываем модальное окно редактирования
                var productId = $(this).data('product-id');
                $('#editProductModal').modal('show');


            });
        },
        error: function (xhr, status, error) {
            // Обработка ошибки
            console.error('Error while filtering products:', status, error);
        }
    });
}
// Убираем аргумент из функции EditedProduct
function EditedProduct() {
    // Считываем productId из скрытого поля
    var productId = $('#hiddenProductId').val();
    console.log('Received productId:', productId);

    // Получаем значения полей формы аналогично saveProduct
    var categoryId = parseInt(document.getElementById('editCategorySelect').value, 10);
    var manufacturerName = document.getElementById('editManufacturerName').value;
    var manufacturerCountry = document.getElementById('editManufacturerCountry').value;
    var onlineOrderAvailability = document.getElementById('editOnlineOrderAvailability').checked;
    var installmentOption = document.getElementById('editInstallmentOption').checked;
    var deviceName = document.getElementById('editDeviceName').value;

    // Проверка на пустоту полей
    if (!manufacturerName || !manufacturerCountry || !deviceName) {
        alert('Please fill in all required fields (Manufacturer Name, Manufacturer Country, Device Name).');
        return; // Прекращаем выполнение функции, не отправляем запрос на сервер
    }

    var data = {
        id: productId,
        categoryId: categoryId,
        manufacturerName: manufacturerName,
        manufacturerCountry: manufacturerCountry,
        onlineOrderAvailability: onlineOrderAvailability,
        installmentOption: installmentOption,
        name: deviceName
    };

    // Пробуем получить productId из аргумента функции
    var apiUrl = productId ? '/api/updateProduct/' + productId : '/api/saveProduct';

    // Выводим данные в консоль перед отправкой запроса
    console.log('Sending data to server:', data);

    fetch(apiUrl, {
        method: productId ? 'PUT' : 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
    })
    .then(response => {
        if (response.ok) {
            // Закрываем модальное окно добавления/редактирования
            $('#editProductModal').modal('hide');
        } else {
            alert('Failed to save edited product. Please try again.');
        }
        return response.text();
    })
    .then(content => {
        console.log('Response content:', content);
    })
    .catch(error => {
        console.error('Error:', error);
    });
}

function deleteProduct(productId) {
    $.ajax({
        url: '/api/deleteProduct/' + productId,
        type: 'DELETE',
        success: function (data) {
            // Обработка успешного удаления, если необходимо
            console.log('Product deleted successfully');
            // Вызываем функцию для обновления продуктов после удаления
            filterProducts(-1, $('#searchQuery').val());
        },
        error: function (xhr, status, error) {
            // Обработка ошибки
            console.error('Error while deleting product:', status, error);
        }
    });
}
    function searchProducts() {
        var searchQuery = $('#searchQuery').val();
        filterProducts(currentCategoryId, searchQuery);
    }
</script>

<div class="container mt-5">
    <h2 id="categoryTitle">All categories</h2>
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Manufacturer Country</th>
            <th>Manufacturer Name</th>
            <th>Available Models</th>
        </tr>
        </thead>
        <tbody>
        <!-- Цикл для каждого продукта -->
        <tr th:each="product : ${products}" th:if="${product.categoryId == selectedCategoryId}">
        </tr>
        </tbody>
    </table>
    <!-- Кнопка для открытия модального окна -->
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addDeviceModal">Add Device</button>
</div>


<script>
    function saveProduct() {
        // Получаем значения полей формы
        var categoryId = parseInt(document.getElementById('categorySelect').value, 10);
        var manufacturerName = document.getElementById('manufacturerName').value;
        var manufacturerCountry = document.getElementById('manufacturerCountry').value;
        var onlineOrderAvailability = document.getElementById('onlineOrderAvailability').checked;
        var installmentOption = document.getElementById('installmentOption').checked;
        var deviceName = document.getElementById('deviceName').value;

        // Проверка на пустоту полей
        if (!manufacturerName || !manufacturerCountry || !deviceName) {
            alert('Please fill in all required fields.'); // Вывести сообщение об ошибке
            return;
        }

        var data = {
            categoryId: categoryId,
            manufacturerName: manufacturerName,
            manufacturerCountry: manufacturerCountry,
            onlineOrderAvailability: onlineOrderAvailability,
            installmentOption: installmentOption,
            name: deviceName
        };

        var apiUrl = '/api/saveProduct';

        fetch(apiUrl, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        })
        .then(response => {
            if (response.ok) {

                $('#addDeviceModal').modal('hide');
            } else {
                alert('Failed to add product. Please try again.');
            }
            return response.text();
        })
        .then(content => {
            console.log('Response content:', content);
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
</script>

<!-- Модальное окно для добавления устройства -->
<div class="modal fade" id="addDeviceModal" tabindex="-1" aria-labelledby="addDeviceModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addDeviceModalLabel">Add Device</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <!-- Выбор категории -->
                    <div class="mb-3">
                        <label for="categorySelect" class="form-label">Category</label>
                        <select class="form-select" id="categorySelect" name="categoryId">
                            <option value="1">TVs</option>
                            <option value="2">Vacuum cleaners</option>
                            <option value="3">Refrigerators</option>
                            <option value="4">Smartphones</option>
                            <option value="5">PC</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="manufacturerName" class="form-label">Manufacturer Name</label>
                        <input type="text" class="form-control" id="manufacturerName" name="manufacturerName">
                    </div>

                    <div class="mb-3">
                        <label for="manufacturerCountry" class="form-label">Manufacturer Country</label>
                        <input type="text" class="form-control" id="manufacturerCountry" name="manufacturerCountry">
                    </div>

                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="onlineOrderAvailability"
                               name="onlineOrderAvailability">
                        <label class="form-check-label" for="onlineOrderAvailability">Online Order Availability</label>
                    </div>

                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="installmentOption" name="installmentOption">
                        <label class="form-check-label" for="installmentOption">Installment Option</label>
                    </div>

                    <div class="mb-3">
                        <label for="deviceName" class="form-label">Device Name</label>
                        <input type="text" class="form-control" id="deviceName" name="name">
                    </div>

                    <button type="button" class="btn btn-primary" onclick="saveProduct()">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно редактирования -->
<div class="modal fade" id="editProductModal" tabindex="-1" aria-labelledby="editProductModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editProductModalLabel">Edit Product</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="editCategorySelect" class="form-label">Category</label>
                        <input type="text" class="form-control" id="editCategorySelect" name="categoryId" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="editManufacturerName" class="form-label">Manufacturer Name</label>
                        <input type="text" class="form-control" id="editManufacturerName" name="manufacturerName">
                    </div>

                    <div class="mb-3">
                        <label for="editManufacturerCountry" class="form-label">Manufacturer Country</label>
                        <input type="text" class="form-control" id="editManufacturerCountry" name="manufacturerCountry">
                    </div>
                    <input type="hidden" id="hiddenProductId" name="hiddenProductId">

                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="editOnlineOrderAvailability"
                               name="onlineOrderAvailability">
                        <label class="form-check-label" for="editOnlineOrderAvailability">Online Order Availability</label>
                    </div>

                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="editInstallmentOption" name="installmentOption">
                        <label class="form-check-label" for="editInstallmentOption">Installment Option</label>
                    </div>

                    <div class="mb-3">
                        <label for="editDeviceName" class="form-label">Device Name</label>
                        <input type="text" class="form-control" id="editDeviceName" name="name">
                    </div>
                    <button type="button" class="btn btn-primary" onclick="EditedProduct()" data-product-id="your_product_id">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>

